<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>AcademicLoad</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <style>
            .reg-form {
                max-width: 800px;
                margin: 0 auto;
            }
            .mb-2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
        </style>
    </head>
    <body>
        <form class="reg-form" method="post">
            <h1>AcademicLoad section:</h1>
            <div class="mb-3">
                    <label for="name" class="form-label">teacher:</label>
                    <input type="text" id="name" name="teacher" class="reg-form__input form-control">
            </div>
            <div class="mb-3">
                    <label for="name" class="form-label">discipline:</label>
                    <input type="text" id="discipline" name="discipline" class="reg-form__input form-control">
            </div>
            <div class="mb-3">
                    <label for="name" class="form-label">academic_load:</label>
                    <input type="number" id="academic_load " name="academic_load " class="reg-form__input form-control">
            </div>
            <div class="mb-3">
                    <label for="name" class="form-label">semestr:</label>
                    <input type="number" id="semestr" name="semestr" class="reg-form__input form-control">
            </div>
            <div class="mb-3">
                    <label for="name" class="form-label">groups:</label>
                    <input type="number" id="groups" name="groups" class="reg-form__input form-control">
            </div>
            <div class="mb-3">
                    <label for="name" class="form-label">students:</label>
                    <input type="number" id="students" name="students" class="reg-form__input form-control">
            </div>
            <div class="mb-3">
                    <label for="name" class="form-label">control:</label>
                    <input type="text" id="control" name="control" class="reg-form__input form-control">
            </div>
            <div class="mb-3">
                <div class="mb-2">
                    <input type="button" class="btn btn-success" value="add">
                    <input type="button" class="btn btn-success" value="update">
                    <input type="button" class="btn btn-danger" value="delete">
                </div>
            </div>
        </form>
    </body>
</html>